/* Set the background color and font family */
body {
    background-color: #fffdfe;
    font-family: Georgia, serif;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        "space main"
        "nav main"
        "footer footer";
    overflow: hidden;
    margin: 0;
	padding: 0;
}

/* Add a centered header with coral text */
h1 {
    text-align: left;
    color: #a00e3a;
    margin-top: 10px;
    line-height: 80px;
    padding-left: 10px;
    font-size: 60px;
    border-bottom: 5px solid #f3b8ca;
}

/* Add a centered paragraph with black text */
p {
    text-align: center;
    color: #7a0d2c;
    font-size: 20px;
    margin-top: 25px;
}

/* Style the navigation menu */
nav {
    background-color: #c05776;
    text-align: center;
    padding: 10px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed; /* make the menu position fixed */
    left: 0; /* align the menu to the left side of the screen */
    top: 0; /* align the menu to the top of the screen */
}

/* Style the links in the navigation menu */
nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

/* Add a hover effect to the links in the navigation menu */
nav a:hover {
    background-color: #ffffff;
    color: #f77ea2;
}

/* Add a centered main content area */
main {
    padding: 25px;
    grid-area: main;
}

/* Add a centered footer with black text */
footer {
    text-align: center;
    color: #3d0213;
    margin-top: 0;
    grid-area: footer;
    line-height: 80px;
}

.duck {
    position: absolute;
    top: calc(100vh - 78px);
    left: 0;
    animation: duck-run 40s linear infinite;
    transform: scaleX(-1);
    height: 100px;
    width: 100px;
    transition: transform 0.5s;
}

@keyframes duck-run {
    0% {
        left: 0;
        transform: scaleX(1);
    }
    50% {
        left: calc(100vw - 100px);
        transform: scaleX(1);
    }
    51% {
        transform: scaleX(-1);
    }
    100% {
        left: 0;
        transform: scaleX(-1);
    }
}
