<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>About Me</title>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    </head>

    <body>
        <%- include('nav') %>
    </body>

</html>