<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Contact</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f277ce679b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <%- include('nav') %>

        <main>
            <header>
                <h2>
                    Contact
                </h2>
            </header>
            <p>Feel free to contact me regarding opportunities or interests!</p>
            <div class="contact-icons">
                <a href="y.kristi.ng@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="tel:+12404291535"><i class="fa fa-phone"></i></a>
                <a href="https://www.linkedin.com/in/kristi-ng1/"><i class="fa fa-linkedin"></i></a>
            </div>
        </main>
    </body>

</html>