<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Interests</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        
    </head>

    <body>
        <%- include('nav') %>
    </body>

</html>