<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kristi Ng</title>
        <link href="style.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        
    </head>
    <body>

        <%- include('nav') %>
        
        <main>
            <header>
                <h1>
                    Kristi Ng
                </h1>
                
            </header>
            <p>Hi, welcome to my webpage!</p>
        </main>
        
        
        <img src="duckPink.gif" class="duck" alt="waling duck">

        <footer>
            <p>&copy; Footer </p>
        </footer>
    </body>
</html>
