<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kristi Ng</title>
        <link href="style.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        
    </head>
    <body>

        <!-- <%- include('nav') %> -->
        <nav>
            <a href="/#about">About Me</a>
            <a href="/#experience">Experience</a>
            <a href="/#interests">Interests</a>
            <a href="/#contact">Contact</a>
        </nav>
        
        <main>
            <header>
                <h1>
                    Kristi Ng
                </h1>
                
            </header>
            <p>Hi, welcome to my webpage!</p>
            <br>
            <section id="about">
                <h2>About Me</h2>
                <p>I'm currently a senior majoring in Computer Science and minoring in Statistics 
                    at the University of Maryland, graduating in May 2023! 
                    Last summer and fall, I had the opportunity to work as a product management intern at EqualLevel, a company that provides 
                    e-procurement solutions for public sector organizations.

                </p>
                <p>I'm currently looking for roles in software engineering, data science, and product management. I am especially interested in front-end development.</p>
            </section>

            <section id="experience">
                <h2>Experience</h2>
                <br>
                <br>

                <br>
                <br>
                <br>

                <br>
                <br>
                <br>
                <br>

                <br>
                <br>
                <br>

                <br>
                <br>
                <br>

                <br>
            </section>

            <section id="interests">
                <h2>Interests</h2>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </section>

            <section id="contact">
                <h2>Contact Me</h2>
                <br>
                <br>

                <br>
                <br>
                <br>
                <br>

                <br>
                <br>
                <br>

                <br>
                <br>
                <br>

                <br>
                <br>

                <br>
                <br>
                <br>
                
            </section>

            <script src="smooth-scroll.js"></script>
        </main>
        
        
        

    </body>
    <img src="duckPink.gif" class="duck" alt="waddling duck">
</html>
