/* Set the background color and font family */
body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: calc(16%) calc(84%);

    grid-template-areas:

        "nav main";
    margin: 0;
	padding: 0;
    font-size: 1rem;
}

/* headers */
h1 {
    text-align: left;
    color: #052519;
    margin-top: 40px;
    line-height: 80px;
    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 370%;
    border-bottom: 5px solid #409773;
}

h2 {
    text-align: left;
    color: #0c422f;
    margin-top: 40px;
    line-height: 20px;
    padding-left: 40px;
    font-size: 250%;
}

h3 {
    text-align: left;
    color: #195a42;
    margin-top: 40px;
    line-height: 20px;
    padding-left: 40px;
    font-size:200%;
}

/* Add a centered paragraph with black text */
p {
    text-align: left;
    color: #000000;
    font-size: 155%;
    margin-top: 0px;
    margin-left: 40px;
    margin-bottom: 3%;
    line-height: 1.5;
}

/* Style the navigation menu */
nav {
    background-color: #525252;
    background-image: url('monstera1.png');
    background-size: cover;
    text-align: center;
    padding: 0.5%;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed; /* make the menu position fixed */
    left: 0; /* align the menu to the left side of the screen */
    top: 0; /* align the menu to the top of the screen */
    
    width: 15%;
    border-right: 3px solid #206e4e;
    overflow-x: auto;
}

/* Style the links in the navigation menu */
nav a {
    color: #ffffff;
    text-shadow: 2px 2px 2px #0e0608;
    text-decoration: none;
    padding: 5px;
    font-size: calc((75vw - 4.5rem) / 40);
    font-weight: bold;
    margin: 0% 5%;
    box-sizing: border-box;
    background-color: rgb(64, 151, 115, .8);
    
}

/* Add a hover effect to the links in the navigation menu */
nav a:hover {
    color: #c1dacf;
}

/* Add a centered main content area */
main {
    padding: 1%;
    margin-left: 1%;
    grid-area: main;
}

/* Add a centered footer with black text */
footer {
    text-align: left;
    color: #217250;
    margin-top: 0;
    line-height: 80px;
    margin-left: 30px;
    font-size: 15px;
}

/* DUCK CSS*/
.duck {
    position: fixed;
    bottom: -17px;
    left: 0;
    animation: duck-run 40s linear infinite;
    transform: scaleX(-1);
    height: 80px;
    width: 80px;
    transition: transform 0.5s;
}

@keyframes duck-run {
    0% {
        left: 0;
        transform: scaleX(1);
    }
    50% {
        left: calc(100vw - 100px);
        transform: scaleX(1);
    }
    51% {
        transform: scaleX(-1);
    }
    100% {
        left: 0;
        transform: scaleX(-1);
    }
}

/* Link button styling */
#project a, #publications a, #transcript a {
    display: inline-block;
    padding: 1% 1.5%;
    margin-left: 41px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    font-size: 100%
}

#project a:hover, #publications a:hover, #transcript a:hover {
    background-color: #409773;
}

/* background color styling */
#about, #project, #transcript {
    background-color: #f3f2f2;
    padding-top: 1.3%;
    padding-bottom: 1%;
}

#about p {
    margin-right: 4%;
    font-size: 133%;
    margin-bottom: 2.5%;
}

/* EXPERIENCE CSS*/
#experience {
    background-color: rgb(255, 255, 255);
    padding-top: 1.5%;
    padding-bottom: 2%;
}

.experience-item {
    padding-top: 0px;
    margin-bottom: 25px;
    
}

.experience-item h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.experience-date {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 17px;
    
}

.experience-company {
    margin-bottom: 5px;
    font-size: 23px;
    line-height: 1;
}

ul {
    margin-top: 10px;
    margin-left: 30px;
    line-height: 1.5;
    margin-right: 30%;
    font-size: 18px;
}
  
/* PROJECT CSS*/

#project h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

.project-item {
    margin-bottom: 40px;
}

.project-item img {
    max-width: 70%;
    height: auto;
    margin-left: 41px;
    margin-top: 20px;
    border: 3px solid #000000;
    border-radius: 10px;
}

.project-item h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.project-item p {
    margin-top: 5px;
    font-size: 20px;
    margin-right: 20%;
    margin-bottom: 1.5%;
}

.project-item a:hover {
    background-color: #409773;
}

#publications {
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 40px;
}

#publications h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

#publications p, #transcript p {
    margin-bottom: 20px;
    font-size: 20px;
    margin-right: 30%;
}

#transcript a {
    margin-bottom: 30px;
}

/* CONTACT CSS*/
#contact {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 0px;
}

#contact p {
    margin-bottom: 20px;
    font-size: 21px;
    margin-right: 350px;
}

.contact-icons ul {
    list-style-type: none;
}

.contact-icons a {
    color: #000000;
    display: inline-block;
    font-size: 21px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}
  
.contact-icons a:hover {
    color: #409773;
}
  
.fa {
    font-size: inherit;
}
  
.fa-envelope:before {
    content: "\f0e0";
}
  
.fa-phone:before {
    content: "\f095";
}
  
.fa-linkedin:before {
    content: "\f08c";
}

*, html {

    scroll-behavior: smooth !important;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 90%;
    border: none;
    outline: none;
    background-color: #000000;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #topBtn:hover {
    background-color: #409773;
  }