/* Set the background color and font family */
body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 1fr calc(100% - 225px);;
    grid-template-rows: 1fr 3fr ;
    grid-template-areas:
        "space main"
        "nav main";
    margin: 0;
	padding: 0;
    
}

/* headers */
h1 {
    text-align: left;
    color: #052519;
    margin-top: 40px;
    line-height: 80px;
    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 60px;
    border-bottom: 5px solid #409773;
}

h2 {
    text-align: left;
    color: #0c422f;
    margin-top: 40px;
    line-height: 20px;
    padding-left: 40px;
    font-size: 40px;
}

h3 {
    text-align: left;
    color: #195a42;
    margin-top: 40px;
    line-height: 20px;
    padding-left: 40px;
    font-size:20px;
}

/* Add a centered paragraph with black text */
p {
    text-align: left;
    color: #000000;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 40px;
    line-height: 1.5;
}

/* Style the navigation menu */
nav {
    background-color: #525252;
    background-image: url('monstera1.png');
    background-size: cover;
    text-align: center;
    padding: 5px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed; /* make the menu position fixed */
    left: 0; /* align the menu to the left side of the screen */
    top: 0; /* align the menu to the top of the screen */
    border-right: 3px solid #206e4e;
}

/* Style the links in the navigation menu */
nav a {
    color: #ffffff;
    text-shadow: 2px 2px 2px #0e0608;
    text-decoration: none;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(64, 151, 115, .8);
}

/* Add a hover effect to the links in the navigation menu */
nav a:hover {
    color: #c1dacf;
}

/* Add a centered main content area */
main {
    padding: 15px;
    margin-left: 12px;
    grid-area: main;
}

/* Add a centered footer with black text */
footer {
    text-align: left;
    color: #217250;
    margin-top: 0;
    line-height: 80px;
    margin-left: 30px;
    font-size: 15px;
}

/* DUCK CSS*/
.duck {
    position: fixed;
    bottom: -17px;
    left: 0;
    animation: duck-run 40s linear infinite;
    transform: scaleX(-1);
    height: 80px;
    width: 80px;
    transition: transform 0.5s;
}

@keyframes duck-run {
    0% {
        left: 0;
        transform: scaleX(1);
    }
    50% {
        left: calc(100vw - 100px);
        transform: scaleX(1);
    }
    51% {
        transform: scaleX(-1);
    }
    100% {
        left: 0;
        transform: scaleX(-1);
    }
}

#about {
    background-color: #f3f2f2;
    padding-top: 10px;
    padding-bottom: 0px;
    
}

#about p{
    margin-right: 100px;
    font-size: 21px;
}

/* EXPERIENCE CSS*/
#experience {
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 20px;
}

.experience-item {
    padding-top: 0px;
    margin-bottom: 25px;
    
}

.experience-item h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.experience-date {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 0;
}

.experience-company {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 1;
}

ul {
    margin-top: 10px;
    margin-left: 30px;
    line-height: 1.5;
}
  
/* PROJECT CSS*/
#project {
    background-color: #f3f2f2;
    padding-top: 10px;
    padding-bottom: 20px;
}

#project h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

.project-item {
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-item img {
    height: 500px;
    margin-left: 41px;
    margin-top: 20px;
    border: 3px solid #000000;
    border-radius: 10px;
}

.project-item h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.project-item p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-right: 500px;
}

.project-item a {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 41px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.project-item a:hover {
    background-color: #409773;
}

#publications {
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 20px;
}

#publications h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

#publications p {
    margin-bottom: 20px;
    font-size: 20px;
    margin-right: 350px;
}

#publications a {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 41px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

#publications a:hover {
    background-color: #409773;
}

/* CONTACT CSS*/
#contact {
    background-color: #f3f2f2;
    padding-top: 10px;
    padding-bottom: 0px;
}

.contact-icons ul {
    list-style-type: none;
}
.contact-icons a {
    color: #000000;
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}
  
.contact-icons a:hover {
    color: #409773;
}
  
.fa {
    font-size: inherit;
}
  
.fa-envelope:before {
    content: "\f0e0";
}
  
.fa-phone:before {
    content: "\f095";
}
  
.fa-linkedin:before {
    content: "\f08c";
}

*, html {

    scroll-behavior: smooth !important;
}